body {
  background-color: #ADD8E6;
  color : black;
}

.navbar-default {
  background-color: #CCCCFF;
}


.tabPanel-default {
  color : black;

}

h2 {
  font-family: 'Times New Roman', sans-serif;
}

h3 {
  color : #4682B4;
}


