body {
  background-color: #C4A484;
  color : black;
}

.navbar-default {
  background-color: #addda7;
  
}


.tabPanel-default {
  color : black;

}

h2 {
  font-family: 'Times New Roman', sans-serif;
}

h3 {
  color : #4682B4;
}


